body{
    background : white url('images/background.png');
}

.navbar{
    border-radius : 1;
}

.navbar-brand{
    font-family : 'Satisfy', cursive;
}

#homenav >li{
    padding: 5px;
    background : #a9b0bc;
}

#homenav >li > a{
    color : black;
}