{% extends 'securityapp/base.html' %}
{% block title %}{{account.account_name}}'s details{% endblock %}


{% block body %}
<div class="col-sm-2 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{%url 'securityapp:index' %}">Account List</a></li>
        <li><a href="{%url 'securityapp:index' %}">DDoS Account List</a></li>
        <li class="active"><a href="#">Manage account</a></li>
      </ul>
    </div>
    <div class="col-sm-10" style="background:white">

    {% if error_message %}
    <p><strong>{{error_message}}</strong></p>
    {% endif %}

        <a role="button" class="btn btn-primary pull-right" style="padding:10px;" href="{%url 'securityapp:index' %}" id="btn_account_list">Back to Account list</a><br>

        <h3>Account name    : {{account.account_name}}</h3><br>
        <h3>Email           : {{account.email}}</h3><br>
        <h3>Phone number    : {{account.phone_number}}</h3><br>
        <h3>User First name : {{account.user_first_name}}</h3><br>
        <h3>User First name : {{account.user_last_name}}</h3><br>



        <form action="{% url 'securityapp:account_update' account.id %}" method="get">
        {% csrf_token %}
        <button type="submit" class="btn btn-success pull-right" id="btn_update" style="padding:10px;">Update</button>
        </form>


     <form action="{% url 'securityapp:account_delete' account.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger pull-left" id="btn_delete" style="padding:10px;">&nbsp; Delete account</button>
     </form>
        </div>
{% endblock %}