<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>SecurityApp</title>
                </head>
                <body>
                {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%static 'securityapp/style.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class="wrapper">
  <form class="form-signin" method="post" action="{% url 'login' %}">
      {% csrf_token %}
    <h2 class="form-signin-heading">Please login</h2>
      {% if form.errors %}
    <h4 class="form-signin-heading" style="color:red; text-align:center">Authentication Failed</h4>
{% endif %}
    <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="">
    <input type="password" class="form-control" name="password" placeholder="Password" required="" />
    <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
    <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
      </form>

      <form class="form-signin" action="{% url 'securityapp:register' %}" method="get">
          <h5 class="form-signin-heading">Don't have an account ?</h5>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Signup</button>
        </form>
</div>

<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-md-4 col-md-offset-4">-->
            <!--<div class="login-panel panel panel-default">-->
                <!--<div class="panel-heading">-->
                    <!--<h3 class="panel-title">Please Sign In</h3>-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                    <!--<form method="post" action="{% url 'login' %}">-->
<!--{% csrf_token %}-->

                        <!--<p class="bs-component">-->
                            <!--<table>-->
                                <!--<tr>-->
                                    <!--<td>{{ form.username.label_tag }}</td>-->
                                    <!--<td>{{ form.username }}</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>{{ form.password.label_tag }}</td>-->
                                    <!--<td>{{ form.password }}</td>-->
                                <!--</tr>-->
                            <!--</table>-->
                        <!--</p>-->
                        <!--<p class="bs-component">-->
                            <!--<center>-->
                                <!--<input class="btn btn-success btn-sm" type="submit" value="login" />-->
                            <!--</center>-->
                        <!--</p>-->
                        <!--<input type="hidden" name="next" value="{{ next }}" />-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

</body>
</html>